apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: network-dashboard
spec:
  type: LoadBalancer
  selector:
    app: api
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
